/**** Dark Theme for BCozy *********************************/
.root {
    -fx-text-base-color: white;
    -fx-text-fill: -fx-text-base-color;
    -small-label-color: lightgray;

    -bg-color: rgba(0.0, 0.0, 0.0, 0.9);
    -bg-color-transparent: rgba(0.0, 0.0, 0.0, 0.2);
    -bg-accent-color: lightgray;
    -controls-color: rgba(255.0, 255.0, 255.0, 0.9);
    -highlight-color: rgba(94.0, 203.0, 234.0, 1.0);
    -border-color: lightgray;
    -shadow-color: rgba(255.0, 255.0, 255.0, 0.3);
    -on-indicator: derive(limegreen, 40.0%);
    -off-indicator: lightgray;
    -wrong-indicator: red;
    -flat-button-text-color: dodgerblue;
    -devider-color: lightgray;
    -icons-color: white;
    -flat-button-hover-color: linear-gradient(from 50% 10% to 50% 90%,
        transparent
        transparent,
        rgba(30,144,255, 0.4),
        transparent);
    -button-hover-color: darkgray /*radial-gradient(center 50% 50%, radius 50%, rgba(180,180,180, 0.8), transparent)*/;

    -fx-background-color: -bg-color;

    /*default font */
    /*-fx-font-family: 'Helvetica Neue';*/
    -fx-font-family: "Roboto";
    -fx-font-size: 16.0px;
}

/*.glyph-icon{*/
    /*-fx-fill: -icons-color;*/
/*}*/
.icons{
    -fx-fill: -icons-color;
}
.mnemonic-underline {
    -fx-stroke: transparent;
}

.emoji-text {
    -fx-fill: -fx-text-base-color;
}

.linear-gradient-left-to-right {
    -fx-background-color: linear-gradient(to right, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.0) 100%);
}

.linear-gradient-right-to-left {
    -fx-background-color: linear-gradient(to left, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0.0) 100%);
}

.floating-box {
    -fx-background-color: -bg-color;
}

.main-menu {
    -fx-background-color: -bg-color;
}

.detail-menu {
    -fx-background-color: -bg-color;
}

.info-footer {
    -fx-background-color: -bg-color;
}

.floating-button {
    -fx-background-color: -bg-color;
    -fx-effect: dropshadow(gaussian, -shadow-color, 10.0, 0.0, -4.0, 4.0);
}
.main-menu-pane {
    -fx-background-color: -bg-color;
    -fx-effect: dropshadow(gaussian, -shadow-color, 10.0, 0.0, 0.0, 4.0);
}

.list-element {
    -fx-border-color:
            transparent
            transparent
            -devider-color
            transparent;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.small-label {
    -fx-text-fill: -small-label-color;
}

.wrong-input-indicator {
    -fx-text-fill: -wrong-indicator;
}

.label {
    -fx-text-fill: -fx-text-base-color;
}

.label:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.text {
    /*-fx-effect:dropshadow(gaussian, rgba(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);*/
}

/*******************************************************************************
 *                                                                             *
 * Button & ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/

.toggle-button, .button{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:focused,
.button:focused,
.button:default:focused {
    -fx-background-color: transparent;
}

.toggle-button:focused:selected {
    -fx-background-color: transparent;
}

.toggle-button:armed,
.toggle-button:selected,
.button:armed,
.button:default:armed {
    -fx-background-color: derive(-highlight-color, -20.0%);
}

.toggle-switch .thumb {
    -fx-background-color: -bg-color;
}

.toggle-switch .thumb-area{
    -fx-background-color: -off-indicator;
}
.toggle-switch:selected .thumb-area{
    -fx-background-color: -on-indicator;
}

.transparent-button {
    -fx-background-color: transparent;
    -fx-text-fill: -flat-button-text-color;
}

.transparent-button:hover {
    -fx-background-color: -flat-button-hover-color;
}

/*******************************************************************************
 *                                                                             *
 * TextField & TextArea                                                        *
 *                                                                             *
 ******************************************************************************/

.text-area, .text-field, .text-input, .password-field {
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            -border-color
            transparent;
    -fx-prompt-text-fill: derive(-bg-color, 50.0%);
    -fx-highlight-fill: -highlight-color;
}

.text-area-wrong, .text-field-wrong, .text-input-wrong, .password-field-wrong {
    -fx-border-color:
            transparent
            transparent
            -wrong-indicator
            transparent;
}

.text-area, .text, .text-field, .text-input, .password-field > * > .text {
    -fx-text-box-border: transparent;
}

.text-area {
    -fx-background-color: transparent, -bg-color, transparent, -bg-color;
    -fx-text-box-border: transparent;
}

.text-area .content {
    -fx-background-color: transparent, -bg-color, transparent, -bg-color;
    -fx-text-box-border: transparent;
}

.text-area:focused  .content {
    -fx-background-color: transparent, -bg-color, transparent, -bg-color;
    -fx-text-box-border: transparent;
}

.text-area:focused, .text-field:focused {
    -fx-background-color: derive(-highlight-color, 80.0%);
    -fx-text-box-border: transparent;
}

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background{
    -fx-background-color: transparent;
}

.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
    -fx-background-color: derive(-controls-color, 80.0%);
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -controls-color;
}
.scroll-bar > .track-background{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.plus-minus-slider {
    -fx-border-color: -fx-box-border;
}

.plus-minus-slider:horizontal {
    -fx-background-color: derive(-controls-color,30.0%);
}

.plus-minus-slider:vertical {
    -fx-background-color: derive(-controls-color,30.0%);
}

.plus-minus-slider > * > .slider > .track {
    -fx-background-color: transparent;
}

.plus-minus-slider > * > .slider > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.plus-minus-slider > * > .slider:focused > .thumb {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

.plus-minus-slider > * > .adjust-plus {
    -fx-background-color: -fx-mark-highlight-color,derive(-controls-color,-45.0%);
}

.plus-minus-slider > * > .adjust-minus {
    -fx-background-color: -fx-mark-highlight-color,derive(-controls-color,-45.0%);
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.content-area {
    -fx-background-color: -bg-color;
}

/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow {
    -fx-background-color: -controls-color;
}

.choice-box {
    -fx-background-color: -bg-color;
    -fx-border-color:
            transparent
            transparent
            -border-color
            transparent;
}
.choice-box > .open-button {
    -fx-background-color: -bg-color;
}

.choice-box .context-menu {
    -fx-background-color: derive(-bg-color, 70%);
}

.radio-menu-item:checked > .left-container > .radio,
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -controls-color;
}

.radio-menu-item > .left-container > .radio,
.check-menu-item > .left-container > .check {
    -fx-background-color: transparent;
}

.menu-item:focused {
    -fx-background-color: -highlight-color;
}


/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: -fx-text-base-color;
}

.check-box > .box,
.check-box > .box.unfocused,
.check-box:disabled > .box,
.check-box:selected > .box,
.check-box:indeterminate > .box {
    -fx-background-color: -fx-text-base-color;
}

.check-box:focused > .box {
    -fx-background-color: -highlight-color, derive(rgb(94.0, 203.0, 234.0), 80.0%);
}

.check-box:focused:armed > .box {
    -fx-background-color: -highlight-color, derive(-fx-text-base-color, 80.0%);
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: -bg-color;
}


/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: -fx-text-base-color;
}

.radio-button > .radio,
.radio-button > .radio.unfocused,
.radio-button:disabled > .radio,
.radio-button:selected > .radio {
    -fx-background-color: -fx-text-base-color;
}

.radio-button:focused > .radio {
    -fx-background-color: -highlight-color, derive(rgb(94.0, 203.0, 234.0), 80.0%);
}

.radio-button:focused:armed > .radio {
    -fx-background-color: -highlight-color, derive(-fx-text-base-color, 80.0%);
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -bg-color;
}


/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.progress-bar > .track {
    -fx-background-color: lightgray;
}

.progress-bar > .bar {
    /* barrier tape style*/
    /*-fx-background-color: linear-gradient(*/
    /*from 0px .75em to .75em 0px,*/
    /*repeat,*/
    /*slategrey 0%,*/
    /*slategrey 49%,*/
    /*derive(slategrey, 30%) 50%,*/
    /*derive(slategrey, 30%) 99%*/
    /*);*/
    -fx-background-color: slategray;
}


/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color: rgba(255.0, 255.0, 255.0, 0.5);
}

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color:  -highlight-color,  derive(-highlight-color, 50.0%);
}

.progress-indicator > .determinate-indicator > .percentage {
    -fx-fill: -bg-color;
}

.progress-indicator > .indeterminate-indicator > .segment {
    -fx-background-color: rgb(0.0, 183.0, 221.0);
}

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.titled-pane > .title {
    -fx-background-color: -bg-color;
}

.titled-pane > .content {
    -fx-background-color: -bg-color;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: derive(-fx-text-fill, 70%);
}
.titled-pane:focused > .title > .arrow-button .arrow {
    -fx-effect: none;
    -fx-background-color: derive(-fx-text-fill, 70%);
}

/*******************************************************************************
 *                                                                             *
 * WidgetPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.body-pane {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: -bg-color;
}

.head-pane {
    -fx-text-fill: -fx-text-base-color;
    -fx-background-color: -bg-color;
    -fx-border-color:
            transparent
            transparent
            -border-color
            transparent;
}

.head-pane:hover {
    -fx-background-color: -button-hover-color;
}


.background-pane {
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, derive(rgb(0.8, 0.8, 0.8), 90%), rgb(0.8, 0.8, 0.8));
}

.info-pane {
    -fx-background-color: -bg-color-transparent;
}