/**** Dark Theme for BCozy *********************************/
.root {
    -fx-text-base-color: white;
    -fx-text-fill: -fx-text-base-color;
    -small-label-color: lightgray;

    -bg-color: rgba(0.0, 0.0, 0.0, 0.9);
    -bg-color-transparent: rgba(0.0, 0.0, 0.0, 0.2);
    -placeholder-color: rgba(255, 255, 255, 0.7);
    -bg-accent-color: lightgray;
    -controls-color: rgba(255.0, 255.0, 255.0, 0.9);
    -highlight-color: rgba(94.0, 203.0, 234.0, 1.0);
    -border-color: lightgray;
    -shadow-color: rgba(255.0, 255.0, 255.0, 0.3);
    -on-indicator: derive(limegreen, 40.0%);
    -off-indicator: lightgray;
    -wrong-indicator: red;
    -flat-button-text-color: dodgerblue;
    -devider-color: lightgray;
    -icons-color: white;
    -flat-button-hover-color: linear-gradient(from 50% 10% to 50% 90%,
    transparent, transparent,
    rgba(30, 144, 255, 0.4),
    transparent);
    -button-hover-color: darkgray /*radial-gradient(center 50% 50%, radius 50%, rgba(180,180,180, 0.8), transparent)*/;

    -fx-background-color: -bg-color;
    -choicebox-bg: slategray;
    -tab-bg-color: slategray;
    -text-field-focused-bg: slategray;
    -table-background: black;
    -table-text-color: white;
    -table-background-odd: slategray;
    -table-border-color: white;

    -success-color: limegreen;
    -error-color: crimson;

    /*default font */
    /*-fx-font-family: 'Helvetica Neue';*/
    -fx-font-family: "Roboto";
    -fx-font-size: 16.0px;
}

.bordered-choice-box {
    -fx-border-color: -border-color;
}
