.root {
    -fx-text-base-color: black;
    -fx-text-fill: -fx-text-base-color;
    -small-label-color: slategray;

    -bg-color: rgba(255.0, 255.0, 255.0, 0.9);
    -bg-accent-color: slategray;
    -controls-color: rgba(0.0, 0.0, 0.0, 0.9);
    -highlight-color: rgba(94.0, 203.0, 234.0, 1.0);
    -border-color: lightgray;
    -shadow-color: rgba(0.0, 0.0, 0.0, 0.3);
    -on-indicator: derive(limegreen, 40.0%);
    -off-indicator: slategray;
    -wrong-indicator: red;
    -flat-button-text-color: dodgerblue;
    -devider-color: slategray;
    -icons-color: black;
    -flat-button-hover-color: slategray /*linear-gradient(from 60% 20% to 60% 80%, transparent, lightgray, transparent)*/;
    -button-hover-color: rgba(228.0, 228.0, 228.0, 1.0); /*radial-gradient(center 50% 50%, radius 50%, rgba(180,180,180, 0.8), transparent)*/;

    -fx-background-color: -bg-color;

    /*default font */
    /*-fx-font-family: 'Helvetica Neue';*/
    -fx-font-family: "Roboto";
    -fx-font-size: 16.0px;
}
.bordered-choice-box {
    -fx-border-color: -border-color !important;
}
