/**** General Theme Settings (Sizes, Paddings, Insets, etc.) for BCozy *********************************/

.text {
    -fx-font-smoothing-type: lcd;
}

.floating-box {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0px;
    -fx-padding: 20 20 20 20;
}

.padding-large {
    -fx-padding: 10.0 10.0 10.0 10.0;
}
.padding-small {
    -fx-padding: 5.0 5.0 5.0 5.0;
}
.padding-bottom {
    -fx-padding: 0.0 0.0 15.0 0.0;
}

.insets {
    -fx-background-insets:  10.0, 10.0, 10.0, 10.0;
}
.insets-small {
    -fx-background-insets:  5.0, 5.0, 5.0, 5.0;
}

.main-menu {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0;
    -fx-background-insets: 10.0 0.0 10.0 10.0;
    -fx-padding: 60.0 10.0 10.0 20.0;
}

.detail-menu {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0;
    -fx-background-insets:  10.0, 10.0, 10.0, 0.0;
    -fx-padding: 20.0 10.0 10.0 10.0;
    -fx-alignment: TOP-CENTER;
}

.floating-button {
    -fx-alignment: CENTER;
    -fx-background-radius: 50%;
    -fx-padding: 10.0 10.0 10.0 10.0;
}

.main-menu-pane {
    -fx-padding:  10.0, 10.0, 10.0, 10.0;
}

.hidden-sides-pane {
    -fx-padding: 5.0 5.0 5.0 5.0;
}

.list-element {
    -fx-padding:  0.0, 0.0, 2.0, 0.0;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 1 0;

}

/**** size variants **********************************************************/
.size-variant-touch {
    -fx-font-size: 9.0;
}

.size-variant-desktop {
    -fx-font-size: 12.0;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.small-label {
    -fx-font-size: 12.0;
}

.bold-label {
     -fx-font-weight: bold;
 }

.wrong-input-indicator {
    -fx-translate-y: -5.0;
    -fx-font-size: 12.0;
}

.label:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/*******************************************************************************
 *                                                                             *
 * Button & ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/

.toggle-button, .button{
    -fx-background-insets:  0.0;
    -fx-border-width: 0.0;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-effect: none !important;
}

.toggle-button:focused,
.button:focused,
.button:default:focused {
    -fx-background-insets:  0.0;
}

.toggle-button:focused:selected {
    -fx-background-insets:  0.0;
}

.toggle-button:armed,
.toggle-button:selected,
.button:armed,
.button:default:armed {
    -fx-background-insets:  0.0;
}
.toggle-switch .thumb {
    -fx-background-radius: 0.0em;
    -fx-background-insets:  2.0;
}
.toggle-switch .thumb-area{
    -fx-background-radius: 0.0;
}
.toggle-switch:selected .thumb-area{
    -fx-background-radius: 0.0;
}

.transparent-button {
    -fx-padding         : 5 0 0 0;
}

.large-button {
    -fx-min-width: 80;
}
.large-button:large-device {
    -fx-content-display : top;
    -fx-graphic-text-gap: 5;
    -fx-font-size       : 14;
    -fx-padding         : 0.7em 0.9em 0.7em 0.9em;
}
.large-button:medium-device {
    -fx-graphic-text-gap: 5;
    -fx-font-size       : 12;
    -fx-padding         : 0.7em 0.5em 0.7em 0.5em;
}
.large-button:small-device {
    -fx-graphic-text-gap: 5;
    -fx-font-size       : 10;
    -fx-padding         : 0.5em 0.4em 0.5em 0.4em;
}
.large-button:extreme-small-device {
    -visibility        : visible;
    -fx-font-size       : 8;
    /*-fx-content-display: graphic-only;*/
    -fx-padding        : 0.3em;
}


/*******************************************************************************
 *                                                                             *
 * TextField & TextArea                                                        *
 *                                                                             *
 ******************************************************************************/

.text-area, .text-field, .text-input, .password-field {
    -fx-background-radius: 2.0;
    -fx-padding: 0 0 5 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 1 0;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-box-border: none;
    -fx-border-width: -1;
}


.text-area:focused, .text-field:focused {
    -fx-background-insets: 0.0, 0.2em;
    -fx-background-radius: 2.0;
}

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background {
    -fx-background-insets: 0.0;
    -fx-padding:3px;
}

.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding:3px;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
    -fx-padding:3px;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-padding:3px;
}
.scroll-bar > .track-background{
    -fx-padding:0;
}

.plus-minus-slider {
    -fx-background-radius: 2.0;
    -fx-border-radius: 0.0;
}

.plus-minus-slider:horizontal {
    -fx-background-insets: 0.0, 1.0 0.0 1.0 0.0;
    -fx-pref-height: 16.0;
    -fx-max-height: 16.0;
}

.plus-minus-slider:vertical {
    -fx-background-insets: 0.0, 0.0 1.0 0.0 1.0;
    -fx-pref-width: 16.0;
    -fx-max-width: 16.0;
}

.plus-minus-slider > * > .slider {
    -fx-show-tick-marks: false;
}


.plus-minus-slider > * > .slider > .thumb {
    -fx-background-insets: 2.0, 3.0, 4.0;
    -fx-background-radius: 3.0, 2.0, 1.0;
}

.plus-minus-slider > * > .slider:focused > .thumb {
    -fx-background-insets: 1.8, 3.0, 4.0, 0.6, 4.6;
    -fx-background-radius: 3.0, 2.0, 1.0, 4.0, 1.0;
}

.plus-minus-slider > * > .adjust-plus {
    -fx-pref-width: 16.0;
    -fx-pref-height: 16.0;
    -fx-scale-shape: false;
}

.plus-minus-slider > * > .adjust-minus {
    -fx-pref-width: 16.0;
    -fx-pref-height: 16.0;
    -fx-shape: "M0,0H8V2H0Z";
    -fx-scale-shape: false;
}


/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.title-bar {
    -fx-padding: 10;
}

.title-bar .icon {
    -fx-alignment: center-left;
}

.title-bar .title-label {
    -fx-padding: 0 10 0 10;
    -fx-alignment: center;
    -fx-font-size: 36;
    -fx-font-weight: bolder;
}

.content-background {
    -fx-background-radius:0.0 0.0 11.0 11.0;
    -fx-padding: 0 10 10 10;
}


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/
.combo-box-base,
.choice-box {
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 0 10;
}

.combo-box-base > .label,
.choice-box > .label {
    -fx-padding:0.7em 1.7em 0.7em 0.7em;
}

.combo-box-base > .arrow-button,
.choice-box > .open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
}

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow {
    -fx-padding: 0.2em;
}

.radio-menu-item:checked > .left-container > .radio,
.check-menu-item:checked > .left-container > .check {
    /*-fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";*/
    -fx-padding: 0.68em 0.5em 0.0em 0.0em;
}

.radio-menu-item > .left-container > .radio,
.check-menu-item > .left-container > .check {
    /*-fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";*/
    -fx-padding: 0.68em 0.68em 0.0em 0.0em;
}

/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.check-box > .box,
.check-box > .box.unfocused,
.check-box:disabled > .box,
.check-box:selected > .box,
.check-box:indeterminate > .box {
    -fx-background-radius: 2.0;
}

.check-box:focused > .box {
    -fx-background-insets: 0.0, 0.15em;
}

.check-box:focused:armed > .box {
    -fx-background-insets: 0.0, 0.15em;
}

.check-box:indeterminate > .box > .mark {
    -fx-background-insets: -0.06em -0.17em -0.07em -0.17em;
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button > .radio,
.radio-button > .radio.unfocused,
.radio-button:disabled > .radio,
.radio-button:selected > .radio {
    -fx-padding: 0.4em;
}

.radio-button:focused > .radio {
    -fx-background-insets: 0.0, 0.15em;
    -fx-padding: 0.4em;
}

.radio-button:focused:armed > .radio {
    -fx-background-insets: 0.0, 0.15em;
}

/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.progress-bar > .track {
    -fx-max-height: 18;
    -fx-background-radius: 0.0;
    -fx-padding: 2.0;
    -fx-pref-height: 18;
    -fx-pref-width: 150;
}

.progress-bar > .bar {
    -fx-max-height: 16;
    -fx-pref-height: 16;
    -fx-pref-width: 150;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.progress-indicator > .determinate-indicator > .indicator {
    -fx-padding: 0.0;
}

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-insets: 0.0, 0.4em;
    -fx-padding: 1.0em;
}

.progress-indicator > .determinate-indicator > .percentage {
    -fx-translate-y: -2.4em;
    -fx-padding: 0.0;
}

.progress-indicator > .indeterminate-indicator > .segment {
   -fx-scale-x: 0.05em;
   -fx-scale-y: 0.05em;
}

/*******************************************************************************
 *                                                                             *
 * TitledPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.titled-pane .widget-pane > .title > .arrow-button .arrow {
    visibility: hidden;
}

.titled-pane {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0px;
    -fx-border-width: 0 0 5 5;
}

.titled-pane > .title{
    -fx-border-radius: 0.0;
    -fx-background-radius: 0px;
    -fx-border-width: 0 0 1 0;
}

.titled-pane > .content {
    -fx-padding: 0 0 0 10;
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: 0 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 * WidgetPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.widget-pane {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0px;
    -fx-padding: 0;
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 2 0 2;
}

.body-pane {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-border-width: 0 0 0 0;
}

.head-pane {
    -fx-border-radius: 0.0;
    -fx-background-radius: 0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
    -fx-border-width: 0 0 0 0;
}

/*******************************************************************************
 *                                                                             *
 * AmbientLight elements                                                       *
 *                                                                             *
 ******************************************************************************/

.circle-selector {
    -fx-stroke-type: outside;
    -fx-stroke-width: 2.0;
}

.rectangle-selector {
    -fx-stroke-type: outside;
    -fx-stroke-width: 2.0;
}

.color-rect-container {
    /*-fx-padding: 0.0 10.0 0.0 10.0;*/
    -fx-background-insets:  10.0 10.0 10.0 10.0;
}

.color-circle-container {
    /*-fx-padding: 0.0 10.0 0.0 10.0;*/
    -fx-background-insets:  10.0 10.0 10.0 10.0;
}

/*******************************************************************************
 *                                                                             *
 * DimmerPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.slider {
    -fx-skin: null;
}

.slider .thumb {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 0.583333em; /* 7 */;
}

.slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    /*-fx-background-radius: 2.5, 2.5, 1.5;*/
    -fx-background-radius: 0;
    -fx-padding: 0.208333em; /* 2.5 */
}

.dimmer-body {
    -fx-background-insets:  10.0 10.0 10.0 10.0;
}

/*******************************************************************************
 *                                                                             *
 * RollerShutterPane                                                           *
 *                                                                             *
 ******************************************************************************/

.roller-shutter-button {
    -fx-background-insets:  10.0 10.0 10.0 10.0;
    -fx-padding: 10.0 10.0 10.0 10.0;
    -fx-background-radius: 1em;
    -fx-min-width: 10.0;
    -fx-min-height: 10.0;
    -fx-max-width: 10.0;
    -fx-max-height: 10.0;
}

.info-pane {
    -fx-background-insets: 5 5 5 5;
}

.observer-titled-pane {
    -fx-padding: 0.0 0.0 0.0 0.0;
}

/*******************************************************************************
 *                                                                             *
 * TemperatureControllerPane                                                   *
 *                                                                             *
 ******************************************************************************/

.temperature-slider {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.SliderSkin";*/
}

.temperature-slider .track {
    -fx-background-color:
            -fx-shadow-highlight-color,
            derive(-fx-color,-22%),
            linear-gradient(to bottom, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-insets: 1 0 -1 0, 0, 1;
    /*-fx-background-radius: 2.5, 2.5, 1.5;*/
    -fx-background-radius: 0;
    -fx-padding: 0.208333em;
}

.temperature-slider:vertical .track {
    -fx-background-color:
            -fx-shadow-highlight-color,
            derive(-fx-color,-22%),
            linear-gradient(to right, derive(-fx-color,-15.5%), derive(-fx-color,34%) 30%, derive(-fx-color,68%));
    -fx-background-insets: 0 -1 0 1, 0, 1;
}

.advanced-horizontal-slider-highlight {
    -fx-background-insets: 0 10 0 10;
    -fx-padding: 0 10 0 10;
}

.advanced-horizontal-slider-background {
    -fx-background-insets: 0 10 0 10;
    -fx-padding: 0 10 0 10;
}


.advanced-horizontal-slider-label-top {
    -fx-fill: palegreen;
    -fx-text-fill: black;
    -fx-font-size: 12.0;
    -fx-shape: "m 231.88056,426.86331 c 40.90133,-42.1586 132.63016,-42.1586 173.5315,0 35.69998,36.79714 33.43429,100.15274 0.82118,139.69922 L 316.2916,675.62575 232.70086,566.56253 c -31.14812,-40.63959 -36.52007,-102.90208 -0.8203,-139.69922 z";

}

.advanced-horizontal-slider-label-bottom {
    -fx-fill: limegreen;
    -fx-text-fill: white;
    -fx-font-size: 12.0;
    -fx-shape: "m 406.76188,648.57176 c -40.90133,42.1586 -132.63016,42.1586 -173.5315,0 C 197.5304,611.77462 199.79609,548.41902 232.4092,508.87254 l 89.94164,-109.06322 83.59074,109.06322 c 31.14812,40.63959 36.52007,102.90208 0.8203,139.69922 z";

}

/*******************************************************************************
 *                                                                             *
 * Widget Icons                                                                *
 *                                                                             *
 ******************************************************************************/

.icon-gap {
    -fx-padding: 0 10 0 0;
}